/* css styles */
.container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: auto;
      margin-bottom: 250px;
  }
.plot-container{
      width: 39%;
      height: 400px;
  }
select {
    width: 50%;
    margin-bottom: 10px;
}

.toc-right {
    position: fixed
}